<html>
  <body>
    <h2>Welcome, {{username}}!</h2>
    <p>Thanks for signing up. Please click the link below to activate your account:</p>
    <a href="{{activationLink}}">Activate Account</a>
    <p>If you didn't sign up for our service, please ignore this email.</p>
  </body>
</html>
